/Project/nbproject/private/
/Project/Project-war/nbproject/private/
/Project/Project-ejb/nbproject/private/
/Project/Project-ejb/build/
/Project/Project-war/build/
/Project/build/
/Project/dist/
/Project/Project-ejb/dist/
/Project/Project-war/dist/